# Stock / Options / Fundamental Data with the `Ticker` object of `yfinance`

Install yfinance 

`pip install yfinance`

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
2

2

## The yfinance Ticker object

`start` and `end` dates

`period` instead of start/end

`valid periods`: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd,max

valid `intervals`: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo

`actions = True`: Includes info on both dividends and splits. (Optional default is `False`)

`prepost = True`: download pre/post regular market hours data. (Optional default is `False`)

## Stock Data

In [3]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [4]:
df = ticker.history(start = '2019-01-01', end = '2020-01-01')

In [6]:
df # Notice that by default actions = True, so we set it equal to False and round it to 2 decimal digits with the option True (it is either 2 digits or 6 digits)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02,37.543106,38.502955,37.383131,38.277534,148158800,0.0,0
2019-01-03,34.898670,35.320422,34.418748,34.464802,365248800,0.0,0
2019-01-04,35.031984,36.006375,34.855043,35.936081,234428400,0.0,0
2019-01-07,36.042732,36.074244,35.364052,35.856094,219111200,0.0,0
2019-01-08,36.251180,36.798974,35.999101,36.539619,164101200,0.0,0
...,...,...,...,...,...,...,...
2019-12-24,70.041529,70.090738,69.606063,69.938194,48478800,0.0,0
2019-12-26,70.073520,71.343022,70.043997,71.325798,93121200,0.0,0
2019-12-27,71.623487,72.324666,70.885405,71.298729,146266000,0.0,0
2019-12-30,71.215093,72.009764,70.171939,71.721909,144114400,0.0,0
2019-12-31,71.330711,72.253314,71.229839,72.245934,100805600,0.0,0

In [7]:
df = ticker.history(start = '2019-01-01', end = '2020-01-01', actions = False, rounding = True)

In [8]:
df # this is the data corresponding to the daily price of apple

             Open   High    Low  Close     Volume
Date
2019-01-02  37.54  38.50  37.38  38.28  148158800
2019-01-03  34.90  35.32  34.42  34.46  365248800
2019-01-04  35.03  36.01  34.86  35.94  234428400
2019-01-07  36.04  36.07  35.36  35.86  219111200
2019-01-08  36.25  36.80  36.00  36.54  164101200
...           ...    ...    ...    ...        ...
2019-12-24  70.04  70.09  69.61  69.94   48478800
2019-12-26  70.07  71.34  70.04  71.33   93121200
2019-12-27  71.62  72.32  70.89  71.30  146266000
2019-12-30  71.22  72.01  70.17  71.72  144114400
2019-12-31  71.33  72.25  71.23  72.25  100805600

[252 rows x 5 columns]

We now use the period parameter instead of the start/end dates parameters, and set the granularity of the stock price to 1 minute, by setting the interval parameter to `1m`.

In [9]:
df = ticker.history(period = 'max', interval = '1m', actions = False)
# But notice that, when we request the maxumimun period of available data we receive a message saying that:

- AAPL: 1m data not available for startTime=345479400 and endTime=1645643795. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

In [10]:
df = ticker.history(period = '5d', interval = '1m', actions = False, prepost = False)
# Remember that the`prepost` parameter downloads pre/post regular market hours data. (Optional default is `False`)

In [11]:
df.head()

,Open,High,Low,Close,Volume
Datetime,,,,,
2022-02-16 09:30:00-05:00,171.770004,171.789993,171.770004,171.770004,2184725
2022-02-16 09:31:00-05:00,171.770004,171.830002,171.419998,171.649994,367371
2022-02-16 09:32:00-05:00,171.639999,171.883194,171.429993,171.860001,282233
2022-02-16 09:33:00-05:00,171.860001,171.960007,171.371994,171.475006,338554
2022-02-16 09:34:00-05:00,171.460007,171.545105,171.250000,171.360001,420010

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1845 entries, 2022-02-16 09:30:00-05:00 to 2022-02-23 14:16:44-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1845 non-null   float64
 1   High    1845 non-null   float64
 2   Low     1845 non-null   float64
 3   Close   1845 non-null   float64
 4   Volume  1845 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 86.5 KB

In [13]:
df = ticker.history(period= '5d', interval = '1m', actions = False, prepost = True)

In [14]:
df.head()

                             Open    High     Low   Close  Volume
Datetime
2022-02-16 04:00:00-05:00  172.95  173.34  171.90  172.90       0
2022-02-16 04:01:00-05:00  172.87  172.99  172.85  172.93       0
2022-02-16 04:02:00-05:00  172.93  173.00  172.93  172.97       0
2022-02-16 04:03:00-05:00  172.97  173.08  172.95  173.06       0
2022-02-16 04:04:00-05:00  173.08  173.20  173.08  173.19       0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4372 entries, 2022-02-16 04:00:00-05:00 to 2022-02-23 14:16:57-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4372 non-null   float64
 1   High    4372 non-null   float64
 2   Low     4372 non-null   float64
 3   Close   4372 non-null   float64
 4   Volume  4372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 204.9 KB

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4372 entries, 2022-02-16 04:00:00-05:00 to 2022-02-23 14:16:57-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4372 non-null   float64
 1   High    4372 non-null   float64
 2   Low     4372 non-null   float64
 3   Close   4372 non-null   float64
 4   Volume  4372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 204.9 KB

In [17]:
symbol = 'BTC-USD'
ticker = yf.Ticker(symbol)

In [18]:
df = ticker.history(period = '1w', interval = '1m', actions = False, prepost = False)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 816 entries, 2022-02-23 00:00:00+00:00 to 2022-02-23 19:14:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    816 non-null    float64
 1   High    816 non-null    float64
 2   Low     816 non-null    float64
 3   Close   816 non-null    float64
 4   Volume  816 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 38.2 KB

In [20]:
df = ticker.history(period = '1w', interval = '1m', actions = False, prepost = True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 816 entries, 2022-02-23 00:00:00+00:00 to 2022-02-23 19:14:00+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    816 non-null    float64
 1   High    816 non-null    float64
 2   Low     816 non-null    float64
 3   Close   816 non-null    float64
 4   Volume  816 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 38.2 KB

# Market data for multiple stocks

In [22]:
symbols = 'AAPL FB GOOG'
ticker = yf.Tickers(symbols)

In [23]:
symbols

'AAPL FB GOOG'

In [24]:
df = ticker.history(interval = '1d', start = '2020-01-01', actions = False, rounding = True)

# Notice that we have a multiindex pandas DataFrame with the type of price as the first index level and the symbol of the company as the second index level.

[*********************100%***********************]  3 of 3 completed

In [25]:
df

             Close                     High                      Low          \
              AAPL      FB     GOOG    AAPL      FB     GOOG    AAPL      FB
Date
2020-01-02   73.89  209.78  1367.37   73.96  209.79  1368.14   72.62  206.27
2020-01-03   73.18  208.67  1360.66   73.95  210.40  1372.50   72.95  206.95
2020-01-06   73.76  212.60  1394.21   73.80  212.78  1396.50   72.02  206.52
2020-01-07   73.41  213.06  1393.34   74.03  214.58  1402.99   73.19  211.75
2020-01-08   74.59  215.22  1404.32   74.90  216.24  1411.58   73.11  212.61
...            ...     ...      ...     ...     ...      ...     ...     ...
2022-02-16  172.55  216.54  2749.75  173.34  217.46  2758.92  170.05  212.36
2022-02-17  168.88  207.71  2646.17  171.91  217.50  2736.79  168.47  207.16
2022-02-18  167.30  206.16  2609.35  170.54  210.75  2676.48  166.19  205.18
2022-02-22  164.32  202.08  2588.05  166.69  207.48  2638.01  162.15  200.06
2022-02-23  162.02  201.61  2572.15  166.15  206.94  2634.98  161.80  200.28

                       Open                      Volume
               GOOG    AAPL      FB     GOOG       AAPL        FB     GOOG
Date
2020-01-02  1341.55   72.88  206.75  1341.55  135480400  12077100  1406600
2020-01-03  1345.54   73.11  207.21  1347.86  146322800  11188400  1186400
2020-01-06  1350.00   72.28  206.70  1350.00  118387200  17058900  1732300
2020-01-07  1390.38   73.77  212.82  1397.94  108872000  14912400  1502700
2020-01-08  1390.84   73.11  213.00  1392.08  132079200  13475000  1528000
...             ...     ...     ...      ...        ...       ...      ...
2022-02-16  2696.47  171.85  212.41  2728.61   61177400  45817500  1280500
2022-02-17  2644.04  171.03  214.02  2723.00   69589300  38747500  1548400
2022-02-18  2606.14  169.82  209.39  2660.75   82614200  37049400  1589200
2022-02-22  2554.82  164.98  202.34  2599.70   91004600  39799300  1943000
2022-02-23  2565.21  164.98  204.16  2621.57   45771932  26857247   728828

[541 rows x 15 columns]

We can use __multiindex slice__ to select a specific column or set of coumns on a Multilevel DataFrame

In [26]:
idx = pd.IndexSlice
df.loc[:, idx['Close', ['AAPL', 'FB']]]

             Close
              AAPL      FB
Date
2020-01-02   73.89  209.78
2020-01-03   73.18  208.67
2020-01-06   73.76  212.60
2020-01-07   73.41  213.06
2020-01-08   74.59  215.22
...            ...     ...
2022-02-16  172.55  216.54
2022-02-17  168.88  207.71
2022-02-18  167.30  206.16
2022-02-22  164.32  202.08
2022-02-23  162.02  201.61

[541 rows x 2 columns]

In [27]:
df['Close'][['AAPL', 'FB']]

              AAPL      FB
Date
2020-01-02   73.89  209.78
2020-01-03   73.18  208.67
2020-01-06   73.76  212.60
2020-01-07   73.41  213.06
2020-01-08   74.59  215.22
...            ...     ...
2022-02-16  172.55  216.54
2022-02-17  168.88  207.71
2022-02-18  167.30  206.16
2022-02-22  164.32  202.08
2022-02-23  162.02  201.61

[541 rows x 2 columns]

In [28]:
df.head()

            Close                    High                     Low          \
             AAPL      FB     GOOG   AAPL      FB     GOOG   AAPL      FB
Date
2020-01-02  73.89  209.78  1367.37  73.96  209.79  1368.14  72.62  206.27
2020-01-03  73.18  208.67  1360.66  73.95  210.40  1372.50  72.95  206.95
2020-01-06  73.76  212.60  1394.21  73.80  212.78  1396.50  72.02  206.52
2020-01-07  73.41  213.06  1393.34  74.03  214.58  1402.99  73.19  211.75
2020-01-08  74.59  215.22  1404.32  74.90  216.24  1411.58  73.11  212.61

                      Open                      Volume
               GOOG   AAPL      FB     GOOG       AAPL        FB     GOOG
Date
2020-01-02  1341.55  72.88  206.75  1341.55  135480400  12077100  1406600
2020-01-03  1345.54  73.11  207.21  1347.86  146322800  11188400  1186400
2020-01-06  1350.00  72.28  206.70  1350.00  118387200  17058900  1732300
2020-01-07  1390.38  73.77  212.82  1397.94  108872000  14912400  1502700
2020-01-08  1390.84  73.11  213.00  1392.08  132079200  13475000  1528000

In [29]:
# We can use the group_by parameter to inverse the indices of the DataFrame.
df = ticker.history(interval = '1d', start = '2020-01-01', actions = False, rounding = True, group_by = 'tickers')

[*********************100%***********************]  3 of 3 completed

In [30]:
df.head()

               GOOG                                       AAPL                \
               Open     High      Low    Close   Volume   Open   High    Low
Date
2020-01-02  1341.55  1368.14  1341.55  1367.37  1406600  72.88  73.96  72.62
2020-01-03  1347.86  1372.50  1345.54  1360.66  1186400  73.11  73.95  72.95
2020-01-06  1350.00  1396.50  1350.00  1394.21  1732300  72.28  73.80  72.02
2020-01-07  1397.94  1402.99  1390.38  1393.34  1502700  73.77  74.03  73.19
2020-01-08  1392.08  1411.58  1390.84  1404.32  1528000  73.11  74.90  73.11

                                  FB
            Close     Volume    Open    High     Low   Close    Volume
Date
2020-01-02  73.89  135480400  206.75  209.79  206.27  209.78  12077100
2020-01-03  73.18  146322800  207.21  210.40  206.95  208.67  11188400
2020-01-06  73.76  118387200  206.70  212.78  206.52  212.60  17058900
2020-01-07  73.41  108872000  212.82  214.58  211.75  213.06  14912400
2020-01-08  74.59  132079200  213.00  216.24  212.61  215.22  13475000

# Fundamental Data

In [31]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [32]:
ticker.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 197,
 'currentPrice': 162.1999,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 192.96,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.244,
 'beta3Year': None,
 'enterpriseToEbitda': 21.374,
 '52WeekChange': 0.31088948,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 91388112,
 'sharesPercentSharesOut': 0.0056,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59508,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.09663403,
 'priceToBook': 36.846867,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 0.88,
 'sharesShortPreviousMonthDate': 1640908800,
 'floatShares': 16302468781,
 'beta': 1.187468,
 'enterpriseValue': 2740495581184,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 6.9966803,
 'dateShortInterest': 1643587200,
 'pegRatio': 1.83,
 'ytdReturn': None,
 'forwardPE': 24.725595,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0056,
 'sharesShortPriorMonth': 95908325,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 164.32,
 'regularMarketOpen': 164.98,
 'twoHundredDayAverage': 151.27095,
 'trailingAnnualDividendYield': 0.005264119,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 166.15,
 'navPrice': None,
 'averageDailyVolume10Day': 79040340,
 'regularMarketPreviousClose': 164.32,
 'fiftyDayAverage': 172.2574,
 'trailingAnnualDividendRate': 0.865,
 'open': 164.98,
 'toCurrency': None,
 'averageVolume10days': 79040340,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 161.8,
 'currency': 'USD',
 'trailingPE': 26.965904,
 'regularMarketVolume': 45932164,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2647005069312,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 101189352,
 'dayLow': 161.8,
 'ask': 162.1,
 'askSize': 1200,
 'volume': 45932164,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.15,
 'fiftyTwoWeekLow': 116.21,
 'bid': 162.05,
 'tradeable': False,
 'dividendYield': 0.0054,
 'bidSize': 1000,
 'dayHigh': 166.15,
 'regularMarketPrice': 162.1999,
 'preMarketPrice': 165.57,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 3.2493}

In [33]:
ticker.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [35]:
pd.Series(ticker.info).head(15)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 100000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
phone                                                       408 996 1010
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                            https://www.apple.com
maxAge                                                                 1
address1                                              One Apple Park Way
industry                                            Consumer Electronics
ebitdaMargins                                                    0.33891
profitMargins                                                    0.26579
dtype: object

In [36]:
ticker.info['longBusinessSummary']

'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.'

In [37]:
data = ticker.history(period = '10y')

In [38]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2012-02-23,15.751775,15.835874,15.581132,15.791836,568027600,0.0,0.0
2012-02-24,15.892144,15.990921,15.860646,15.975936,415072000,0.0,0.0
2012-02-27,15.942295,16.162175,15.788472,16.078382,547582000,0.0,0.0
2012-02-28,16.145663,16.373493,16.081137,16.373493,600387200,0.0,0.0
2012-02-29,16.561568,16.746585,16.382362,16.588478,952011200,0.0,0.0
...,...,...,...,...,...,...,...
2022-02-16,171.850006,173.339996,170.050003,172.550003,61177400,0.0,0.0
2022-02-17,171.029999,171.910004,168.470001,168.880005,69589300,0.0,0.0
2022-02-18,169.820007,170.539993,166.190002,167.300003,82614200,0.0,0.0
2022-02-22,164.979996,166.690002,162.149994,164.320007,91004600,0.0,0.0
2022-02-23,164.979996,166.149994,161.800003,162.139999,46054740,0.0,0.0

In [39]:
ticker.actions

            Dividends  Stock Splits
Date
2012-08-09   0.094643           0.0
2012-11-07   0.094643           0.0
2013-02-07   0.094643           0.0
2013-05-09   0.108929           0.0
2013-08-08   0.108929           0.0
2013-11-06   0.108929           0.0
2014-02-06   0.108929           0.0
2014-05-08   0.117500           0.0
2014-06-09   0.000000           7.0
2014-08-07   0.117500           0.0
2014-11-06   0.117500           0.0
2015-02-05   0.117500           0.0
2015-05-07   0.130000           0.0
2015-08-06   0.130000           0.0
2015-11-05   0.130000           0.0
2016-02-04   0.130000           0.0
2016-05-05   0.142500           0.0
2016-08-04   0.142500           0.0
2016-11-03   0.142500           0.0
2017-02-09   0.142500           0.0
2017-05-11   0.157500           0.0
2017-08-10   0.157500           0.0
2017-11-10   0.157500           0.0
2018-02-09   0.157500           0.0
2018-05-11   0.182500           0.0
2018-08-10   0.182500           0.0
2018-11-08   0.182500           0.0
2019-02-08   0.182500           0.0
2019-05-10   0.192500           0.0
2019-08-09   0.192500           0.0
2019-11-07   0.192500           0.0
2020-02-07   0.192500           0.0
2020-05-08   0.205000           0.0
2020-08-07   0.205000           0.0
2020-08-31   0.000000           4.0
2020-11-06   0.205000           0.0
2021-02-05   0.205000           0.0
2021-05-07   0.220000           0.0
2021-08-06   0.220000           0.0
2021-11-05   0.220000           0.0
2022-02-04   0.220000           0.0

In [40]:
ticker.dividends

Date
2012-08-09    0.094643
2012-11-07    0.094643
2013-02-07    0.094643
2013-05-09    0.108929
2013-08-08    0.108929
2013-11-06    0.108929
2014-02-06    0.108929
2014-05-08    0.117500
2014-08-07    0.117500
2014-11-06    0.117500
2015-02-05    0.117500
2015-05-07    0.130000
2015-08-06    0.130000
2015-11-05    0.130000
2016-02-04    0.130000
2016-05-05    0.142500
2016-08-04    0.142500
2016-11-03    0.142500
2017-02-09    0.142500
2017-05-11    0.157500
2017-08-10    0.157500
2017-11-10    0.157500
2018-02-09    0.157500
2018-05-11    0.182500
2018-08-10    0.182500
2018-11-08    0.182500
2019-02-08    0.182500
2019-05-10    0.192500
2019-08-09    0.192500
2019-11-07    0.192500
2020-02-07    0.192500
2020-05-08    0.205000
2020-08-07    0.205000
2020-11-06    0.205000
2021-02-05    0.205000
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
2022-02-04    0.220000
Name: Dividends, dtype: float64

In [41]:
ticker.splits

Date
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [42]:
ticker.financials

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Research Development,21914000000.0,18752000000.0,16217000000.0,14236000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,109207000000.0,67091000000.0,65737000000.0,72903000000.0
Minority Interest,None,None,None,None
Net Income,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Selling General Administrative,21973000000.0,19916000000.0,18245000000.0,16705000000.0
Gross Profit,152836000000.0,104956000000.0,98392000000.0,101839000000.0
Ebit,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Operating Income,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2645000000.0,-2873000000.0,-3576000000.0,-3240000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,14527000000.0,9680000000.0,10481000000.0,13372000000.0
Total Revenue,365817000000.0,274515000000.0,260174000000.0,265595000000.0
Total Operating Expenses,256868000000.0,208227000000.0,196244000000.0,194697000000.0
Cost Of Revenue,212981000000.0,169559000000.0,161782000000.0,163756000000.0
Total Other Income Expense Net,258000000.0,803000000.0,1807000000.0,2005000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Net Income Applicable To Common Shares,94680000000.0,57411000000.0,55256000000.0,59531000000.0

In [43]:
ticker.quarterly_financials

,2021-12-25,2021-09-25,2021-06-26,2021-03-27
Research Development,6306000000.0,5772000000.0,5717000000.0,5262000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,41241000000.0,23248000000.0,24369000000.0,28011000000.0
Minority Interest,None,None,None,None
Net Income,34630000000.0,20551000000.0,21744000000.0,23630000000.0
Selling General Administrative,6449000000.0,5616000000.0,5412000000.0,5314000000.0
Gross Profit,54243000000.0,35174000000.0,35255000000.0,38079000000.0
Ebit,41488000000.0,23786000000.0,24126000000.0,27503000000.0
Operating Income,41488000000.0,23786000000.0,24126000000.0,27503000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-694000000.0,-672000000.0,-665000000.0,-670000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,6611000000.0,2697000000.0,2625000000.0,4381000000.0
Total Revenue,123945000000.0,83360000000.0,81434000000.0,89584000000.0
Total Operating Expenses,82457000000.0,59574000000.0,57308000000.0,62081000000.0
Cost Of Revenue,69702000000.0,48186000000.0,46179000000.0,51505000000.0
Total Other Income Expense Net,-247000000.0,-538000000.0,243000000.0,508000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,34630000000.0,20551000000.0,21744000000.0,23630000000.0
Net Income Applicable To Common Shares,34630000000.0,20551000000.0,21744000000.0,23630000000.0

In [44]:
ticker.balance_sheet

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Treasury Stock,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

In [45]:
ticker.quarterly_balance_sheet

,2021-12-25,2021-09-25,2021-06-26,2021-03-27
Total Liab,3.092590e+11,2.879120e+11,2.655600e+11,2.679800e+11
Total Stockholder Equity,7.193200e+10,6.309000e+10,6.428000e+10,6.917800e+10
Other Current Liab,5.704300e+10,5.357700e+10,5.130600e+10,5.325500e+10
Total Assets,3.811910e+11,3.510020e+11,3.298400e+11,3.371580e+11
Common Stock,5.842400e+10,5.736500e+10,5.498900e+10,5.420300e+10
Other Current Assets,1.811200e+10,1.411100e+10,1.364100e+10,1.337600e+10
Retained Earnings,1.443500e+10,5.562000e+09,9.233000e+09,1.526100e+10
Other Liab,5.505600e+10,4.305000e+10,3.835400e+10,3.985300e+10
Treasury Stock,-9.270000e+08,1.630000e+08,5.800000e+07,-2.860000e+08
Other Assets,5.010900e+10,3.876200e+10,4.485400e+10,4.333900e+10
Cash,3.711900e+10,3.494000e+10,3.405000e+10,3.846600e+10
Total Current Liabilities,1.475740e+11,1.254810e+11,1.077540e+11,1.063850e+11
Short Long Term Debt,1.116900e+10,9.613000e+09,8.039000e+09,8.003000e+09
Other Stockholder Equity,-9.270000e+08,1.630000e+08,5.800000e+07,-2.860000e+08
Property Plant Equipment,3.924500e+10,4.952700e+10,3.861500e+10,3.781500e+10
Total Current Assets,1.531540e+11,1.348360e+11,1.144230e+11,1.214650e+11
Long Term Investments,1.386830e+11,1.278770e+11,1.319480e+11,1.345390e+11
Net Tangible Assets,7.193200e+10,6.309000e+10,6.428000e+10,6.917800e+10
Short Term Investments,2.679400e+10,2.769900e+10,2.764600e+10,3.136800e+10
Net Receivables,6.525300e+10,5.150600e+10,3.390800e+10,3.303600e+10
Long Term Debt,1.066290e+11,1.091060e+11,1.057520e+11,1.086420e+11
Inventory,5.876000e+09,6.580000e+09,5.178000e+09,5.219000e+09
Accounts Payable,7.436200e+10,5.476300e+10,4.040900e+10,4.012700e+10

In [46]:
ticker.cashflow

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Investments,-2.819000e+09,5.335000e+09,5.809300e+10,3.084500e+10
Change To Liabilities,1.400200e+10,-1.981000e+09,-2.548000e+09,9.172000e+09
Total Cashflows From Investing Activities,-1.454500e+10,-4.289000e+09,4.589600e+10,1.606600e+10
Net Borrowings,1.266500e+10,2.499000e+09,-7.819000e+09,4.320000e+08
Total Cash From Financing Activities,-9.335300e+10,-8.682000e+10,-9.097600e+10,-8.787600e+10
Change To Operating Activities,-6.146000e+09,8.810000e+08,-8.960000e+08,3.001600e+10
Issuance Of Stock,1.105000e+09,8.800000e+08,7.810000e+08,6.690000e+08
Net Income,9.468000e+10,5.741100e+10,5.525600e+10,5.953100e+10
Change In Cash,-3.860000e+09,-1.043500e+10,2.431100e+10,5.624000e+09
Repurchase Of Stock,-9.252700e+10,-7.599200e+10,-6.971400e+10,-7.526500e+10
Total Cash From Operating Activities,1.040380e+11,8.067400e+10,6.939100e+10,7.743400e+10
Depreciation,1.128400e+10,1.105600e+10,1.254700e+10,1.090300e+10
Other Cashflows From Investing Activities,-6.080000e+08,-7.910000e+08,-1.078000e+09,-7.450000e+08
Dividends Paid,-1.446700e+10,-1.408100e+10,-1.411900e+10,-1.371200e+10
Change To Inventory,-2.642000e+09,-1.270000e+08,-2.890000e+08,8.280000e+08
Change To Account Receivables,-1.012500e+10,6.917000e+09,2.450000e+08,-5.322000e+09
Other Cashflows From Financing Activities,-1.290000e+08,-1.260000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,2.985000e+09,6.517000e+09,5.076000e+09,-2.769400e+10
Capital Expenditures,-1.108500e+10,-7.309000e+09,-1.049500e+10,-1.331300e+10

In [47]:
ticker.earnings

           Revenue     Earnings
Year
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000

In [48]:
ticker.quarterly_earnings

              Revenue     Earnings
Quarter
1Q2021    89584000000  23630000000
2Q2021    81434000000  21744000000
3Q2021    83360000000  20551000000
4Q2021   123945000000  34630000000

In [49]:
ticker.sustainability

                                     Value
2022-2
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           6.86
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               55
governanceScore                       8.76
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.27
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           12.87
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.65
governancePercentile                  None
militaryContract                     False

In [50]:
ticker.recommendations

                                    Firm    To Grade From Grade Action
Date
2012-02-09 08:17:00    Canaccord Genuity         Buy              main
2012-03-08 07:33:00       FBN Securities  Outperform              main
2012-03-13 06:08:00            Jefferies         Buy              main
2012-03-14 06:13:00       Morgan Stanley  Overweight              main
2012-03-14 08:21:00    Canaccord Genuity         Buy              main
...                                  ...         ...        ...    ...
2022-01-28 13:01:39        Deutsche Bank         Buy              main
2022-01-28 14:19:01  New Street Research     Neutral       Sell     up
2022-01-28 15:10:56          Oppenheimer  Outperform              main
2022-01-31 15:44:19        Credit Suisse     Neutral              main
2022-02-15 15:31:58    Tigress Financial  Strong Buy              main

[830 rows x 4 columns]

In [51]:
ticker.calendar

                                    0                    1
Earnings Date     2022-04-26 20:00:00  2022-05-02 20:00:00
Earnings Average                 1.43                 1.43
Earnings Low                     1.34                 1.34
Earnings High                    1.56                 1.56
Revenue Average           93933900000          93933900000
Revenue Low               90042000000          90042000000
Revenue High             100444000000         100444000000

# Option Expiration Dates

In [52]:
ticker.options

('2022-02-25',
 '2022-03-04',
 '2022-03-11',
 '2022-03-18',
 '2022-03-25',
 '2022-04-01',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-08-19',
 '2022-09-16',
 '2022-10-21',
 '2022-11-18',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19')

In [53]:
expiration_date = ticker.options[0]

In [54]:
options = ticker.option_chain(expiration_date)

In [55]:
options.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL220225C00105000,2022-02-22 20:59:09+00:00,105.0,59.15,56.80,57.00,0.000000,0.000000,6,5,0.000010,True,REGULAR,USD
1,AAPL220225C00110000,2022-02-03 20:14:54+00:00,110.0,64.50,51.80,51.95,0.000000,0.000000,4,0,0.000010,True,REGULAR,USD
2,AAPL220225C00115000,2022-02-22 17:35:11+00:00,115.0,49.35,46.80,46.95,0.000000,0.000000,2,2,0.000010,True,REGULAR,USD
3,AAPL220225C00120000,2022-02-18 20:26:12+00:00,120.0,47.52,41.70,42.05,0.000000,0.000000,2,1,0.500005,True,REGULAR,USD
4,AAPL220225C00125000,2022-02-22 17:26:16+00:00,125.0,39.43,36.80,37.10,0.000000,0.000000,1,5,1.218754,True,REGULAR,USD
5,AAPL220225C00130000,2022-02-22 19:36:24+00:00,130.0,33.66,31.85,32.15,0.000000,0.000000,1,186,1.160160,True,REGULAR,USD
6,AAPL220225C00135000,2022-02-23 16:39:04+00:00,135.0,28.40,26.85,27.10,-3.500000,-10.971787,1,46,0.890626,True,REGULAR,USD
7,AAPL220225C00140000,2022-02-23 18:36:08+00:00,140.0,22.00,21.80,22.00,-1.000000,-4.347826,158,266,0.000010,True,REGULAR,USD
8,AAPL220225C00145000,2022-02-23 16:47:40+00:00,145.0,18.30,16.80,17.05,-1.000000,-5.181347,13,120,0.250007,True,REGULAR,USD
9,AAPL220225C00146000,2022-02-23 17:12:20+00:00,146.0,18.10,15.80,16.05,-1.100000,-5.729168,2,24,0.250007,True,REGULAR,USD
10,AAPL220225C00147000,2022-02-23 18:58:37+00:00,147.0,15.25,14.85,15.10,-9.370001,-38.058490,2,1,0.515630,True,REGULAR,USD
11,AAPL220225C00148000,2022-02-23 18:58:37+00:00,148.0,14.25,13.80,14.10,-2.100000,-12.844038,99,27,0.484380,True,REGULAR,USD
12,AAPL220225C00149000,2022-02-23 18:58:37+00:00,149.0,13.27,12.90,13.15,-6.830000,-33.980100,3,45,0.509771,True,REGULAR,USD
13,AAPL220225C00150000,2022-02-23 18:58:37+00:00,150.0,12.30,11.95,12.15,-1.750000,-12.455516,161,946,0.476568,True,REGULAR,USD
14,AAPL220225C00152500,2022-02-23 19:01:36+00:00,152.5,10.10,9.40,9.65,-1.009999,-9.090902,18,159,0.391608,True,REGULAR,USD
15,AAPL220225C00155000,2022-02-23 19:04:00+00:00,155.0,7.10,7.15,7.30,-2.350000,-24.867723,965,1459,0.377936,True,REGULAR,USD
16,AAPL220225C00157500,2022-02-23 19:03:47+00:00,157.5,4.98,4.95,5.10,-1.620000,-24.545452,251,567,0.359870,True,REGULAR,USD
17,AAPL220225C00160000,2022-02-23 19:05:45+00:00,160.0,3.10,3.05,3.15,-1.950000,-38.613865,2787,12260,0.335944,True,REGULAR,USD
18,AAPL220225C00162500,2022-02-23 19:05:23+00:00,162.5,1.51,1.50,1.51,-1.650000,-52.215187,17542,4843,0.293952,False,REGULAR,USD
19,AAPL220225C00165000,2022-02-23 19:05:31+00:00,165.0,0.57,0.58,0.59,-1.090000,-65.662640,64065,12115,0.281745,False,REGULAR,USD
20,AAPL220225C00167500,2022-02-23 19:04:46+00:00,167.5,0.18,0.18,0.19,-0.470000,-72.307686,48911,16353,0.280281,False,REGULAR,USD
21,AAPL220225C00170000,2022-02-23 19:05:10+00:00,170.0,0.07,0.06,0.07,-0.130000,-65.000000,36162,37390,0.298835,False,REGULAR,USD
22,AAPL220225C00172500,2022-02-23 19:04:52+00:00,172.5,0.03,0.03,0.04,-0.040000,-57.142857,11924,25098,0.339850,False,REGULAR,USD
23,AAPL220225C00175000,2022-02-23 19:05:07+00:00,175.0,0.02,0.01,0.02,-0.010000,-33.333336,9024,30241,0.367194,False,REGULAR,USD
24,AAPL220225C00177500,2022-02-23 18:59:02+00:00,177.5,0.01,0.01,0.02,-0.010000,-50.000000,2488,11620,0.425787,False,REGULAR,USD
25,AAPL220225C00180000,2022-02-23 18:58:28+00:00,180.0,0.01,0.00,0.01,-0.010000,-50.000000,1483,19285,0.445318,False,REGULAR,USD
26,AAPL220225C00182500,2022-02-23 18:50:12+00:00,182.5,0.01,0.00,0.01,0.000000,0.000000,231,5456,0.500005,False,REGULAR,USD
27,AAPL220225C00185000,2022-02-23 18:50:41+00:00,185.0,0.01,0.00,0.01,0.000000,0.000000,434,10125,0.515630,False,REGULAR,USD
28,AAPL220225C00187500,2022-02-23 15:42:40+00:00,187.5,0.01,0.00,0.01,0.000000,0.000000,4,2670,0.562504,False,REGULAR,USD
29,AAPL220225C00190000,2022-02-23 18:51:50+00:00,190.0,0.01,0.00,0.01,0.000000,0.000000,129,5653,0.593754,False,REGULAR,USD
30,AAPL220225C00192500,2022-02-22 20:41:19+00:00,192.5,0.01,0.00,0.01,0.000000,0.000000,5,1428,0.656253,False,REGULAR,USD
31,AAPL220225C00195000,2022-02-22 16:31:22+00:00,195.0,0.01,0.00,0.01,0.000000,0.000000,2,2863,0.687503,False,REGULAR,USD
32,AAPL220225C00197500,2022-02-17 18:59:53+00:00,197.5,0.01,0.00,0.00,0.000000,0.000000,1,224,0.500005,False,REGULAR,USD
33,AAPL220225C00200000,2022-02-23 16:13:04+00:00,200.0,0.01,0.00,0.01,0.000000,0.000000,1,2573,0.781252,False,REGULAR,USD
34,AAPL220225C00205000,2022-02-18 17:54:30+00:00,205.0,0.01,0.00,0.01,0.000000,0.000000,1,776,0.843752,False,REGULAR,USD
35,AAPL220225C00210000,2022-02-16 20:29:56+00:00,210.0,0.01,0.00,0.01,0.000000,0.000000,51,535,0.937501,False,REGULAR,USD
36,AAPL220225C00215000,2022-02-11 18:39:51+00:00,215.0,0.01,0.00,0.01,0.000000,0.000000,4,283,1.000005,False,REGULAR,USD
37,AAPL220225C00220000,2022-02-14 16:29:06+00:00,220.0,0.01,0.00,0.01,0.000000,0.000000,10,877,1.093755,False,REGULAR,USD
38,AAPL220225C00225000,2022-02-22 19:11:02+00:00,225.0,0.01,0.00,0.01,0.000000,0.000000,1,407,1.156254,False,REGULAR,USD
39,AAPL220225C00230000,2022-02-08 19:47:29+00:00,230.0,0.01,0.00,0.01,0.000000,0.000000,1,37,1.218754,False,REGULAR,USD
40,AAPL220225C00235000,2022-02-08 18:58:23+00:00,235.0,0.01,0.00,0.01,0.000000,0.000000,28,241,1.312503,False,REGULAR,USD
41,AAPL220225C00240000,2022-02-17 20:24:44+00:00,240.0,0.01,0.00,0.01,0.000000,0.000000,5,460,1.375003,False,REGULAR,USD
42,AAPL220225C00245000,2022-02-08 17:23:03+00:00,245.0,0.01,0.00,0.01,0.000000,0.000000,21,23,1.437503,False,REGULAR,USD
43,AAPL220225C00250000,2022-02-23 17:25:24+00:00,250.0,0.01,0.00,0.01,0.000000,0.000000,1,159,1.500002,False,REGULAR,USD

In [56]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     44 non-null     object
 1   lastTradeDate      44 non-null     datetime64[ns, UTC]
 2   strike             44 non-null     float64
 3   lastPrice          44 non-null     float64
 4   bid                44 non-null     float64
 5   ask                44 non-null     float64
 6   change             44 non-null     float64
 7   percentChange      44 non-null     float64
 8   volume             44 non-null     int64
 9   openInterest       44 non-null     int64
 10  impliedVolatility  44 non-null     float64
 11  inTheMoney         44 non-null     bool
 12  contractSize       44 non-null     object
 13  currency           44 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(7), int64(2), object(3)
memory usage: 4.6+ KB

In [57]:
options.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL220225P00105000,2022-02-23 14:30:00+00:00,105.0,0.01,0.00,0.01,0.000000,0.000000,1.0,1027,1.562502,False,REGULAR,USD
1,AAPL220225P00110000,2022-02-23 14:44:16+00:00,110.0,0.01,0.00,0.01,0.000000,0.000000,1.0,584,1.375003,False,REGULAR,USD
2,AAPL220225P00115000,2022-02-18 20:24:33+00:00,115.0,0.01,0.00,0.00,0.000000,0.000000,1109.0,2216,0.500005,False,REGULAR,USD
3,AAPL220225P00120000,2022-02-22 19:22:49+00:00,120.0,0.01,0.00,0.01,0.000000,0.000000,53.0,3102,1.093755,False,REGULAR,USD
4,AAPL220225P00125000,2022-02-23 17:32:44+00:00,125.0,0.01,0.00,0.01,0.000000,0.000000,82.0,1398,0.968750,False,REGULAR,USD
5,AAPL220225P00130000,2022-02-23 18:38:48+00:00,130.0,0.01,0.00,0.01,0.000000,0.000000,36.0,2283,0.812502,False,REGULAR,USD
6,AAPL220225P00135000,2022-02-23 18:51:31+00:00,135.0,0.01,0.00,0.01,0.000000,0.000000,683.0,2632,0.687503,False,REGULAR,USD
7,AAPL220225P00140000,2022-02-23 18:46:41+00:00,140.0,0.01,0.01,0.02,-0.010000,-50.000000,200.0,8444,0.632816,False,REGULAR,USD
8,AAPL220225P00145000,2022-02-23 18:56:53+00:00,145.0,0.02,0.02,0.03,-0.010000,-33.333336,484.0,4773,0.527348,False,REGULAR,USD
9,AAPL220225P00146000,2022-02-23 17:06:15+00:00,146.0,0.02,0.02,0.03,-0.010000,-33.333336,320.0,893,0.500005,False,REGULAR,USD
10,AAPL220225P00147000,2022-02-23 18:47:05+00:00,147.0,0.04,0.03,0.04,-0.010000,-20.000004,279.0,1356,0.500005,False,REGULAR,USD
11,AAPL220225P00148000,2022-02-23 18:53:34+00:00,148.0,0.05,0.04,0.05,0.010000,25.000006,454.0,1457,0.486333,False,REGULAR,USD
12,AAPL220225P00149000,2022-02-23 18:53:04+00:00,149.0,0.05,0.04,0.06,-0.020000,-28.571428,206.0,3113,0.468755,False,REGULAR,USD
13,AAPL220225P00150000,2022-02-23 19:04:50+00:00,150.0,0.07,0.06,0.07,-0.010000,-12.499998,4939.0,13764,0.449224,False,REGULAR,USD
14,AAPL220225P00152500,2022-02-23 19:04:29+00:00,152.5,0.13,0.13,0.14,0.020000,18.181814,5228.0,6340,0.419928,False,REGULAR,USD
15,AAPL220225P00155000,2022-02-23 19:05:31+00:00,155.0,0.29,0.29,0.30,0.070000,31.818178,12241.0,17482,0.398444,False,REGULAR,USD
16,AAPL220225P00157500,2022-02-23 19:05:45+00:00,157.5,0.59,0.61,0.63,0.180000,43.902430,8187.0,9844,0.379889,False,REGULAR,USD
17,AAPL220225P00160000,2022-02-23 19:05:44+00:00,160.0,1.16,1.18,1.20,0.400000,52.631577,35133.0,20877,0.354499,False,REGULAR,USD
18,AAPL220225P00162500,2022-02-23 19:05:42+00:00,162.5,2.12,2.17,2.20,0.770000,57.037025,33482.0,10943,0.335212,True,REGULAR,USD
19,AAPL220225P00165000,2022-02-23 19:05:13+00:00,165.0,3.70,3.55,3.70,1.360000,58.119667,24374.0,17713,0.315437,True,REGULAR,USD
20,AAPL220225P00167500,2022-02-23 19:02:50+00:00,167.5,5.58,5.65,5.85,1.770000,46.456690,3395.0,10269,0.349616,True,REGULAR,USD
21,AAPL220225P00170000,2022-02-23 19:00:17+00:00,170.0,7.84,8.00,8.15,2.040000,35.172413,1033.0,24995,0.374030,True,REGULAR,USD
22,AAPL220225P00172500,2022-02-23 19:05:25+00:00,172.5,10.69,10.55,10.65,2.490000,30.365852,774.0,4564,0.458013,True,REGULAR,USD
23,AAPL220225P00175000,2022-02-23 18:56:23+00:00,175.0,12.91,13.05,13.20,1.720000,15.370871,351.0,4178,0.522466,True,REGULAR,USD
24,AAPL220225P00177500,2022-02-23 19:00:31+00:00,177.5,15.30,15.45,15.65,1.950000,14.606740,218.0,2427,0.539067,True,REGULAR,USD
25,AAPL220225P00180000,2022-02-23 17:48:51+00:00,180.0,16.35,17.75,17.95,0.350000,2.187502,124.0,667,0.250007,True,REGULAR,USD
26,AAPL220225P00182500,2022-02-23 19:02:23+00:00,182.5,20.30,20.55,20.65,3.150000,18.367346,26.0,61,0.718753,True,REGULAR,USD
27,AAPL220225P00185000,2022-02-23 18:56:56+00:00,185.0,22.82,22.95,23.20,2.309999,11.262795,49.0,437,0.761721,True,REGULAR,USD
28,AAPL220225P00187500,2022-02-23 18:56:56+00:00,187.5,25.32,25.35,25.65,6.119999,31.874992,1.0,18,0.722659,True,REGULAR,USD
29,AAPL220225P00190000,2022-02-23 18:56:56+00:00,190.0,27.82,27.95,28.15,1.820000,6.999999,13.0,75,0.855470,True,REGULAR,USD
30,AAPL220225P00195000,2022-02-17 16:03:11+00:00,195.0,23.71,33.00,33.25,0.000000,0.000000,2.0,1,1.060552,True,REGULAR,USD
31,AAPL220225P00197500,2022-02-17 15:16:00+00:00,197.5,26.20,34.90,35.95,0.000000,0.000000,NaN,0,1.356449,True,REGULAR,USD
32,AAPL220225P00200000,2022-02-17 20:45:55+00:00,200.0,30.48,37.60,38.25,0.000000,0.000000,10.0,3,1.290043,True,REGULAR,USD
33,AAPL220225P00205000,2022-02-17 15:16:00+00:00,205.0,33.70,42.55,43.90,0.000000,0.000000,6.0,0,1.388675,True,REGULAR,USD
34,AAPL220225P00210000,2022-02-02 15:20:20+00:00,210.0,35.20,46.75,48.25,0.000000,0.000000,NaN,0,1.525393,True,REGULAR,USD
35,AAPL220225P00220000,2022-01-28 19:24:14+00:00,220.0,53.05,57.55,58.80,0.000000,0.000000,2.0,0,1.666017,True,REGULAR,USD
36,AAPL220225P00225000,2022-01-27 19:29:13+00:00,225.0,66.20,62.45,63.05,0.000000,0.000000,NaN,0,1.578127,True,REGULAR,USD
37,AAPL220225P00230000,2022-01-19 14:42:41+00:00,230.0,60.45,59.75,62.05,0.000000,0.000000,1.0,0,0.000010,True,REGULAR,USD
38,AAPL220225P00245000,2022-01-28 17:33:33+00:00,245.0,76.80,83.00,83.20,0.000000,0.000000,21.0,0,2.019536,True,REGULAR,USD
39,AAPL220225P00250000,2022-02-22 14:50:52+00:00,250.0,84.30,88.00,88.20,0.000000,0.000000,1.0,1,2.101567,True,REGULAR,USD

In [58]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     40 non-null     object
 1   lastTradeDate      40 non-null     datetime64[ns, UTC]
 2   strike             40 non-null     float64
 3   lastPrice          40 non-null     float64
 4   bid                40 non-null     float64
 5   ask                40 non-null     float64
 6   change             40 non-null     float64
 7   percentChange      40 non-null     float64
 8   volume             37 non-null     float64
 9   openInterest       40 non-null     int64
 10  impliedVolatility  40 non-null     float64
 11  inTheMoney         40 non-null     bool
 12  contractSize       40 non-null     object
 13  currency           40 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 4.2+ KB

`End of File`