# Using Pandas to remotely access Stock and Financial Data

The Pandas Datareader library gives you access to the API endpoints of several data providers. It also allows you to get access to data displayed on websites using the read_html function.

Install pandas-datareader:

`pip install pandas-datareader`

In [1]:
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from pandas-datareader) (4.7.1)
Requirement already satisfied: requests>=2.19.0 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\apala\anaconda3\envs\pypr\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime

Download the list of the S&P500 constitutents from Wikipedia.

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500_stocks = pd.read_html(url, header = 0)

In [4]:
sp500_stocks

[    Symbol            Security SEC filings             GICS Sector  \
 0      MMM                  3M     reports             Industrials
 1      AOS         A. O. Smith     reports             Industrials
 2      ABT              Abbott     reports             Health Care
 3     ABBV              AbbVie     reports             Health Care
 4     ABMD             Abiomed     reports             Health Care
 ..     ...                 ...         ...                     ...
 500    YUM         Yum! Brands     reports  Consumer Discretionary
 501   ZBRA  Zebra Technologies     reports  Information Technology
 502    ZBH       Zimmer Biomet     reports             Health Care
 503   ZION       Zions Bancorp     reports              Financials
 504    ZTS              Zoetis     reports             Health Care

                       GICS Sub-Industry    Headquarters Location  \
 0              Industrial Conglomerates    Saint Paul, Minnesota
 1                     Building Products     Milwaukee, Wisconsin
 2                 Health Care Equipment  North Chicago, Illinois
 3                       Pharmaceuticals  North Chicago, Illinois
 4                 Health Care Equipment   Danvers, Massachusetts
 ..                                  ...                      ...
 500                         Restaurants     Louisville, Kentucky
 501  Electronic Equipment & Instruments   Lincolnshire, Illinois
 502               Health Care Equipment          Warsaw, Indiana
 503                      Regional Banks     Salt Lake City, Utah
 504                     Pharmaceuticals   Parsippany, New Jersey

     Date first added      CIK      Founded
 0         1976-08-09    66740         1902
 1         2017-07-26    91142         1916
 2         1964-03-31     1800         1888
 3         2012-12-31  1551152  2013 (1888)
 4         2018-05-31   815094         1981
 ..               ...      ...          ...
 500       1997-10-06  1041061         1997
 501       2019-12-23   877212         1969
 502       2001-08-07  1136869         1927
 503       2001-06-22   109380         1873
 504       2013-06-21  1555280         1952

 [505 rows x 9 columns],
                   Date   Added               Added.1 Removed        Removed.1  \
 0                 Date  Ticker              Security  Ticker         Security
 1    February 15, 2022    NDSN               Nordson    XLNX           Xilinx
 2     February 3, 2022     NaN                   NaN     GPS              Gap
 3     February 2, 2022     CEG  Constellation Energy     NaN              NaN
 4    December 20, 2021    SBNY        Signature Bank     LEG  Leggett & Platt
 ..                 ...     ...                   ...     ...              ...
 286   December 5, 2000     SBL   Symbol Technologies      OI   Owens-Illinois
 287   December 5, 2000     AYE      Allegheny Energy     GRA         WR Grace
 288   December 5, 2000     ABK       Ambac Financial     CCK   Crown Holdings
 289      July 27, 2000    JDSU          JDS Uniphase     RAD          RiteAid
 290   December 7, 1999    YHOO                Yahoo!     LDW          Laidlaw

                                                 Reason
 0                                               Reason
 1    S&P 500 constituent Advanced Micro Devices acq...
 2                     Market capitalization change.[7]
 3    S&P 500 and 100 constituent Exelon Corp. spun ...
 4                     Market capitalization change.[8]
 ..                                                 ...
 286                                Market Cap changes.
 287                                Market Cap changes.
 288                                Market Cap changes.
 289                            Market Cap change.[224]
 290                 Market capitalization change.[225]

 [291 rows x 6 columns]]

In [5]:
# So, what happened? Notice that the Wikipedia website includes to html tables: the "S&P 500 components stocks" and the "Selected changes to the list of S&P 500 components" so we need to select the one we are interested in, which is the first one at index position zero.

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
sp500_stocks = pd.read_html(url, header = 0)[0]

In [7]:
sp500_stocks.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [8]:
sp500_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 505 non-null    object
 1   Security               505 non-null    object
 2   SEC filings            505 non-null    object
 3   GICS Sector            505 non-null    object
 4   GICS Sub-Industry      505 non-null    object
 5   Headquarters Location  505 non-null    object
 6   Date first added       457 non-null    object
 7   CIK                    505 non-null    int64
 8   Founded                505 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [9]:
# Suppose you are interested in the NASDAQ Symbols. We can use the pandas_datareader library.

In [10]:
from pandas_datareader.nasdaq_trader import get_nasdaq_symbols
symbols = get_nasdaq_symbols()

In [11]:
symbols.head()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,Z,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False

In [12]:
symbols.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12023 entries, A to ZYXI
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nasdaq Traded     12023 non-null  bool
 1   Security Name     12023 non-null  object
 2   Listing Exchange  12023 non-null  category
 3   Market Category   12023 non-null  object
 4   ETF               12023 non-null  bool
 5   Round Lot Size    12023 non-null  float64
 6   Test Issue        12023 non-null  bool
 7   Financial Status  5581 non-null   category
 8   CQS Symbol        6442 non-null   object
 9   NASDAQ Symbol     12023 non-null  object
 10  NextShares        12023 non-null  bool
dtypes: bool(4), category(2), float64(1), object(4)
memory usage: 634.4+ KB

In [13]:
symbols.loc['AAPL']

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                          100.0
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

In [14]:
# The Pandas Datareader library gives you access to the API endpoints of several data providers such as yahoo finance.

In [15]:
start = '2016'
end  = '2020-11-12'

In [16]:
aapl = web.DataReader(name = 'AAPL', data_source = 'yahoo', start = start, end = end)

In [17]:
price_aapl = aapl['Adj Close'].to_frame()

In [18]:
price_aapl

             Adj Close
Date
2016-01-04   24.220581
2016-01-05   23.613626
2016-01-06   23.151514
2016-01-07   22.174416
2016-01-08   22.291672
...                ...
2020-11-06  117.812698
2020-11-09  115.460205
2020-11-10  115.112785
2020-11-11  118.606766
2020-11-12  118.328842

[1226 rows x 1 columns]

In [19]:
# notice that the Date is already set as a DateTime index.

In [20]:
price_aapl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1226 entries, 2016-01-04 to 2020-11-12
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Adj Close  1226 non-null   float64
dtypes: float64(1)
memory usage: 19.2 KB

In [21]:
tickers = ['AAPL', 'MSFT']

In [22]:
data = web.DataReader(name = tickers, data_source = 'yahoo', start = start, end = end)

In [23]:
data.head()

Attributes  Adj Close                 Close                  High             \
Symbols          AAPL       MSFT       AAPL       MSFT       AAPL       MSFT
Date
2016-01-04  24.220575  49.488728  26.337500  54.799999  26.342501  54.799999
2016-01-05  23.613632  49.714493  25.677500  55.049999  26.462500  55.389999
2016-01-06  23.151514  48.811413  25.174999  54.049999  25.592501  54.400002
2016-01-07  22.174419  47.113636  24.112499  52.169998  25.032499  53.490002
2016-01-08  22.291664  47.258133  24.240000  52.330002  24.777500  53.279999

Attributes        Low                  Open                  Volume  \
Symbols          AAPL       MSFT       AAPL       MSFT         AAPL
Date
2016-01-04  25.500000  53.389999  25.652500  54.320000  270597600.0
2016-01-05  25.602501  54.540001  26.437500  54.930000  223164000.0
2016-01-06  24.967501  53.639999  25.139999  54.320000  273829600.0
2016-01-07  24.107500  52.070000  24.670000  52.700001  324377600.0
2016-01-08  24.190001  52.150002  24.637501  52.369999  283192000.0

Attributes
Symbols           MSFT
Date
2016-01-04  53778000.0
2016-01-05  34079700.0
2016-01-06  39518900.0
2016-01-07  56564900.0
2016-01-08  48754000.0

In [24]:
data['Adj Close']

Symbols           AAPL        MSFT
Date
2016-01-04   24.220575   49.488728
2016-01-05   23.613632   49.714493
2016-01-06   23.151514   48.811413
2016-01-07   22.174419   47.113636
2016-01-08   22.291664   47.258133
...                ...         ...
2020-11-06  117.812691  220.824387
2020-11-09  115.460197  215.563354
2020-11-10  115.112793  208.278885
2020-11-11  118.606766  213.747162
2020-11-12  118.328842  212.651550

[1226 rows x 2 columns]

In [25]:
data = web.DataReader(name = ['AAPL', 'MSFT'], data_source = 'yahoo', start = start, end = end)['Adj Close']

In [26]:
data

Symbols           AAPL        MSFT
Date
2016-01-04   24.220575   49.488731
2016-01-05   23.613626   49.714500
2016-01-06   23.151516   48.811413
2016-01-07   22.174417   47.113621
2016-01-08   22.291672   47.258137
...                ...         ...
2020-11-06  117.812691  220.824371
2020-11-09  115.460190  215.563354
2020-11-10  115.112785  208.278885
2020-11-11  118.606773  213.747192
2020-11-12  118.328842  212.651550

[1226 rows x 2 columns]

In [27]:
web.DataReader(name = 'AAPL', data_source = 'yahoo-actions', start = start, end = end)

              action   value
2020-11-06  DIVIDEND  0.2050
2020-08-31     SPLIT  0.2500
2020-08-07  DIVIDEND  0.2050
2020-05-08  DIVIDEND  0.2050
2020-02-07  DIVIDEND  0.1925
2019-11-07  DIVIDEND  0.1925
2019-08-09  DIVIDEND  0.1925
2019-05-10  DIVIDEND  0.1925
2019-02-08  DIVIDEND  0.1825
2018-11-08  DIVIDEND  0.1825
2018-08-10  DIVIDEND  0.1825
2018-05-11  DIVIDEND  0.1825
2018-02-09  DIVIDEND  0.1575
2017-11-10  DIVIDEND  0.1575
2017-08-10  DIVIDEND  0.1575
2017-05-11  DIVIDEND  0.1575
2017-02-09  DIVIDEND  0.1425
2016-11-03  DIVIDEND  0.1425
2016-08-04  DIVIDEND  0.1425
2016-05-05  DIVIDEND  0.1425
2016-02-04  DIVIDEND  0.1300

In [28]:
web.DataReader(name = 'AAPL', data_source = 'yahoo-dividends', start = start, end = end)

              action   value
2020-11-06  DIVIDEND  0.2050
2020-08-07  DIVIDEND  0.2050
2020-05-08  DIVIDEND  0.2050
2020-02-07  DIVIDEND  0.1925
2019-11-07  DIVIDEND  0.1925
2019-08-09  DIVIDEND  0.1925
2019-05-10  DIVIDEND  0.1925
2019-02-08  DIVIDEND  0.1825
2018-11-08  DIVIDEND  0.1825
2018-08-10  DIVIDEND  0.1825
2018-05-11  DIVIDEND  0.1825
2018-02-09  DIVIDEND  0.1575
2017-11-10  DIVIDEND  0.1575
2017-08-10  DIVIDEND  0.1575
2017-05-11  DIVIDEND  0.1575
2017-02-09  DIVIDEND  0.1425
2016-11-03  DIVIDEND  0.1425
2016-08-04  DIVIDEND  0.1425
2016-05-05  DIVIDEND  0.1425
2016-02-04  DIVIDEND  0.1300

In [29]:
# Real Gross Domestic Product Per Capita
gdp = web.DataReader('A939RX0Q048SBEA', 'fred', start = '2014', end = '2019-12')

In [30]:
gdp.columns = ['gdppc']

In [31]:
gdp

              gdppc
DATE
2014-01-01  52411.0
2014-04-01  52997.0
2014-07-01  53507.0
2014-10-01  53641.0
2015-01-01  53992.0
2015-04-01  54217.0
2015-07-01  54286.0
2015-10-01  54260.0
2016-01-01  54491.0
2016-04-01  54568.0
2016-07-01  54794.0
2016-10-01  54969.0
2017-01-01  55152.0
2017-04-01  55384.0
2017-07-01  55692.0
2017-10-01  56131.0
2018-01-01  56497.0
2018-04-01  56902.0
2018-07-01  57095.0
2018-10-01  57146.0
2019-01-01  57432.0
2019-04-01  57826.0
2019-07-01  58141.0
2019-10-01  58333.0

In [32]:
# Fama/French

In [33]:
from pandas_datareader.famafrench import get_available_datasets

In [34]:
get_available_datasets()

['F-F_Research_Data_Factors',
 'F-F_Research_Data_Factors_weekly',
 'F-F_Research_Data_Factors_daily',
 'F-F_Research_Data_5_Factors_2x3',
 'F-F_Research_Data_5_Factors_2x3_daily',
 'Portfolios_Formed_on_ME',
 'Portfolios_Formed_on_ME_Wout_Div',
 'Portfolios_Formed_on_ME_Daily',
 'Portfolios_Formed_on_BE-ME',
 'Portfolios_Formed_on_BE-ME_Wout_Div',
 'Portfolios_Formed_on_BE-ME_Daily',
 'Portfolios_Formed_on_OP',
 'Portfolios_Formed_on_OP_Wout_Div',
 'Portfolios_Formed_on_OP_Daily',
 'Portfolios_Formed_on_INV',
 'Portfolios_Formed_on_INV_Wout_Div',
 'Portfolios_Formed_on_INV_Daily',
 '6_Portfolios_2x3',
 '6_Portfolios_2x3_Wout_Div',
 '6_Portfolios_2x3_weekly',
 '6_Portfolios_2x3_daily',
 '25_Portfolios_5x5',
 '25_Portfolios_5x5_Wout_Div',
 '25_Portfolios_5x5_Daily',
 '100_Portfolios_10x10',
 '100_Portfolios_10x10_Wout_Div',
 '100_Portfolios_10x10_Daily',
 '6_Portfolios_ME_OP_2x3',
 '6_Portfolios_ME_OP_2x3_Wout_Div',
 '6_Portfolios_ME_OP_2x3_daily',
 '25_Portfolios_ME_OP_5x5',
 '25_Portfolios_ME_OP_5x5_Wout_Div',
 '25_Portfolios_ME_OP_5x5_daily',
 '100_Portfolios_ME_OP_10x10',
 '100_Portfolios_10x10_ME_OP_Wout_Div',
 '100_Portfolios_ME_OP_10x10_daily',
 '6_Portfolios_ME_INV_2x3',
 '6_Portfolios_ME_INV_2x3_Wout_Div',
 '6_Portfolios_ME_INV_2x3_daily',
 '25_Portfolios_ME_INV_5x5',
 '25_Portfolios_ME_INV_5x5_Wout_Div',
 '25_Portfolios_ME_INV_5x5_daily',
 '100_Portfolios_ME_INV_10x10',
 '100_Portfolios_10x10_ME_INV_Wout_Div',
 '100_Portfolios_ME_INV_10x10_daily',
 '25_Portfolios_BEME_OP_5x5',
 '25_Portfolios_BEME_OP_5x5_Wout_Div',
 '25_Portfolios_BEME_OP_5x5_daily',
 '25_Portfolios_BEME_INV_5x5',
 '25_Portfolios_BEME_INV_5x5_Wout_Div',
 '25_Portfolios_BEME_INV_5x5_daily',
 '25_Portfolios_OP_INV_5x5',
 '25_Portfolios_OP_INV_5x5_Wout_Div',
 '25_Portfolios_OP_INV_5x5_daily',
 '32_Portfolios_ME_BEME_OP_2x4x4',
 '32_Portfolios_ME_BEME_OP_2x4x4_Wout_Div',
 '32_Portfolios_ME_BEME_INV_2x4x4',
 '32_Portfolios_ME_BEME_INV_2x4x4_Wout_Div',
 '32_Portfolios_ME_OP_INV_2x4x4',
 '32_Portfolios_ME_OP_INV_2x4x4_Wout_Div',
 'Portfolios_Formed_on_E-P',
 'Portfolios_Formed_on_E-P_Wout_Div',
 'Portfolios_Formed_on_CF-P',
 'Portfolios_Formed_on_CF-P_Wout_Div',
 'Portfolios_Formed_on_D-P',
 'Portfolios_Formed_on_D-P_Wout_Div',
 '6_Portfolios_ME_EP_2x3',
 '6_Portfolios_ME_EP_2x3_Wout_Div',
 '6_Portfolios_ME_CFP_2x3',
 '6_Portfolios_ME_CFP_2x3_Wout_Div',
 '6_Portfolios_ME_DP_2x3',
 '6_Portfolios_ME_DP_2x3_Wout_Div',
 'F-F_Momentum_Factor',
 'F-F_Momentum_Factor_daily',
 '6_Portfolios_ME_Prior_12_2',
 '6_Portfolios_ME_Prior_12_2_Daily',
 '25_Portfolios_ME_Prior_12_2',
 '25_Portfolios_ME_Prior_12_2_Daily',
 '10_Portfolios_Prior_12_2',
 '10_Portfolios_Prior_12_2_Daily',
 'F-F_ST_Reversal_Factor',
 'F-F_ST_Reversal_Factor_daily',
 '6_Portfolios_ME_Prior_1_0',
 '6_Portfolios_ME_Prior_1_0_Daily',
 '25_Portfolios_ME_Prior_1_0',
 '25_Portfolios_ME_Prior_1_0_Daily',
 '10_Portfolios_Prior_1_0',
 '10_Portfolios_Prior_1_0_Daily',
 'F-F_LT_Reversal_Factor',
 'F-F_LT_Reversal_Factor_daily',
 '6_Portfolios_ME_Prior_60_13',
 '6_Portfolios_ME_Prior_60_13_Daily',
 '25_Portfolios_ME_Prior_60_13',
 '25_Portfolios_ME_Prior_60_13_Daily',
 '10_Portfolios_Prior_60_13',
 '10_Portfolios_Prior_60_13_Daily',
 'Portfolios_Formed_on_AC',
 '25_Portfolios_ME_AC_5x5',
 'Portfolios_Formed_on_BETA',
 '25_Portfolios_ME_BETA_5x5',
 'Portfolios_Formed_on_NI',
 '25_Portfolios_ME_NI_5x5',
 'Portfolios_Formed_on_VAR',
 '25_Portfolios_ME_VAR_5x5',
 'Portfolios_Formed_on_RESVAR',
 '25_Portfolios_ME_RESVAR_5x5',
 '5_Industry_Portfolios',
 '5_Industry_Portfolios_Wout_Div',
 '5_Industry_Portfolios_daily',
 '10_Industry_Portfolios',
 '10_Industry_Portfolios_Wout_Div',
 '10_Industry_Portfolios_daily',
 '12_Industry_Portfolios',
 '12_Industry_Portfolios_Wout_Div',
 '12_Industry_Portfolios_daily',
 '17_Industry_Portfolios',
 '17_Industry_Portfolios_Wout_Div',
 '17_Industry_Portfolios_daily',
 '30_Industry_Portfolios',
 '30_Industry_Portfolios_Wout_Div',
 '30_Industry_Portfolios_daily',
 '38_Industry_Portfolios',
 '38_Industry_Portfolios_Wout_Div',
 '38_Industry_Portfolios_daily',
 '48_Industry_Portfolios',
 '48_Industry_Portfolios_Wout_Div',
 '48_Industry_Portfolios_daily',
 '49_Industry_Portfolios',
 '49_Industry_Portfolios_Wout_Div',
 '49_Industry_Portfolios_daily',
 'ME_Breakpoints',
 'BE-ME_Breakpoints',
 'OP_Breakpoints',
 'INV_Breakpoints',
 'E-P_Breakpoints',
 'CF-P_Breakpoints',
 'D-P_Breakpoints',
 'Prior_2-12_Breakpoints',
 'Developed_3_Factors',
 'Developed_3_Factors_Daily',
 'Developed_ex_US_3_Factors',
 'Developed_ex_US_3_Factors_Daily',
 'Europe_3_Factors',
 'Europe_3_Factors_Daily',
 'Japan_3_Factors',
 'Japan_3_Factors_Daily',
 'Asia_Pacific_ex_Japan_3_Factors',
 'Asia_Pacific_ex_Japan_3_Factors_Daily',
 'North_America_3_Factors',
 'North_America_3_Factors_Daily',
 'Developed_5_Factors',
 'Developed_5_Factors_Daily',
 'Developed_ex_US_5_Factors',
 'Developed_ex_US_5_Factors_Daily',
 'Europe_5_Factors',
 'Europe_5_Factors_Daily',
 'Japan_5_Factors',
 'Japan_5_Factors_Daily',
 'Asia_Pacific_ex_Japan_5_Factors',
 'Asia_Pacific_ex_Japan_5_Factors_Daily',
 'North_America_5_Factors',
 'North_America_5_Factors_Daily',
 'Developed_Mom_Factor',
 'Developed_Mom_Factor_Daily',
 'Developed_ex_US_Mom_Factor',
 'Developed_ex_US_Mom_Factor_Daily',
 'Europe_Mom_Factor',
 'Europe_Mom_Factor_Daily',
 'Japan_Mom_Factor',
 'Japan_Mom_Factor_Daily',
 'Asia_Pacific_ex_Japan_MOM_Factor',
 'Asia_Pacific_ex_Japan_MOM_Factor_Daily',
 'North_America_Mom_Factor',
 'North_America_Mom_Factor_Daily',
 'Developed_6_Portfolios_ME_BE-ME',
 'Developed_6_Portfolios_ME_BE-ME_daily',
 'Developed_ex_US_6_Portfolios_ME_BE-ME',
 'Developed_ex_US_6_Portfolios_ME_BE-ME_daily',
 'Europe_6_Portfolios_ME_BE-ME',
 'Europe_6_Portfolios_ME_BE-ME_daily',
 'Japan_6_Portfolios_ME_BE-ME',
 'Japan_6_Portfolios_ME_BE-ME_daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_BE-ME',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_BE-ME_daily',
 'North_America_6_Portfolios_ME_BE-ME',
 'North_America_6_Portfolios_ME_BE-ME_daily',
 'Developed_25_Portfolios_ME_BE-ME',
 'Developed_25_Portfolios_ME_BE-ME_daily',
 'Developed_ex_US_25_Portfolios_ME_BE-ME',
 'Developed_ex_US_25_Portfolios_ME_BE-ME_daily',
 'Europe_25_Portfolios_ME_BE-ME',
 'Europe_25_Portfolios_ME_BE-ME_daily',
 'Japan_25_Portfolios_ME_BE-ME',
 'Japan_25_Portfolios_ME_BE-ME_daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_BE-ME',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_BE-ME_daily',
 'North_America_25_Portfolios_ME_BE-ME',
 'North_America_25_Portfolios_ME_BE-ME_daily',
 'Developed_6_Portfolios_ME_OP',
 'Developed_6_Portfolios_ME_OP_Daily',
 'Developed_ex_US_6_Portfolios_ME_OP',
 'Developed_ex_US_6_Portfolios_ME_OP_Daily',
 'Europe_6_Portfolios_ME_OP',
 'Europe_6_Portfolios_ME_OP_Daily',
 'Japan_6_Portfolios_ME_OP',
 'Japan_6_Portfolios_ME_OP_Daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_OP',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_OP_Daily',
 'North_America_6_Portfolios_ME_OP',
 'North_America_6_Portfolios_ME_OP_Daily',
 'Developed_25_Portfolios_ME_OP',
 'Developed_25_Portfolios_ME_OP_Daily',
 'Developed_ex_US_25_Portfolios_ME_OP',
 'Developed_ex_US_25_Portfolios_ME_OP_Daily',
 'Europe_25_Portfolios_ME_OP',
 'Europe_25_Portfolios_ME_OP_Daily',
 'Japan_25_Portfolios_ME_OP',
 'Japan_25_Portfolios_ME_OP_Daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_OP',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_OP_Daily',
 'North_America_25_Portfolios_ME_OP',
 'North_America_25_Portfolios_ME_OP_Daily',
 'Developed_6_Portfolios_ME_INV',
 'Developed_6_Portfolios_ME_INV_Daily',
 'Developed_ex_US_6_Portfolios_ME_INV',
 'Developed_ex_US_6_Portfolios_ME_INV_Daily',
 'Europe_6_Portfolios_ME_INV',
 'Europe_6_Portfolios_ME_INV_Daily',
 'Japan_6_Portfolios_ME_INV',
 'Japan_6_Portfolios_ME_INV_Daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_INV',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_INV_Daily',
 'North_America_6_Portfolios_ME_INV',
 'North_America_6_Portfolios_ME_INV_Daily',
 'Developed_25_Portfolios_ME_INV',
 'Developed_25_Portfolios_ME_INV_Daily',
 'Developed_ex_US_25_Portfolios_ME_INV',
 'Developed_ex_US_25_Portfolios_ME_INV_Daily',
 'Europe_25_Portfolios_ME_INV',
 'Europe_25_Portfolios_ME_INV_Daily',
 'Japan_25_Portfolios_ME_INV',
 'Japan_25_Portfolios_ME_INV_Daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_INV',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_INV_Daily',
 'North_America_25_Portfolios_ME_INV',
 'North_America_25_Portfolios_ME_INV_Daily',
 'Developed_6_Portfolios_ME_Prior_12_2',
 'Developed_6_Portfolios_ME_Prior_250_20_daily',
 'Developed_ex_US_6_Portfolios_ME_Prior_12_2',
 'Developed_ex_US_6_Portfolios_ME_Prior_250_20_daily',
 'Europe_6_Portfolios_ME_Prior_12_2',
 'Europe_6_Portfolios_ME_Prior_250_20_daily',
 'Japan_6_Portfolios_ME_Prior_12_2',
 'Japan_6_Portfolios_ME_Prior_250_20_daily',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_Prior_12_2',
 'Asia_Pacific_ex_Japan_6_Portfolios_ME_Prior_250_20_daily',
 'North_America_6_Portfolios_ME_Prior_12_2',
 'North_America_6_Portfolios_ME_Prior_250_20_daily',
 'Developed_25_Portfolios_ME_Prior_12_2',
 'Developed_25_Portfolios_ME_Prior_250_20_daily',
 'Developed_ex_US_25_Portfolios_ME_Prior_12_2',
 'Developed_ex_US_25_Portfolios_ME_Prior_250_20_daily',
 'Europe_25_Portfolios_ME_Prior_12_2',
 'Europe_25_Portfolios_ME_Prior_250_20_daily',
 'Japan_25_Portfolios_ME_Prior_12_2',
 'Japan_25_Portfolios_ME_Prior_250_20_daily',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_Prior_12_2',
 'Asia_Pacific_ex_Japan_25_Portfolios_ME_Prior_250_20_daily',
 'North_America_25_Portfolios_ME_Prior_12_2',
 'North_America_25_Portfolios_ME_Prior_250_20_daily',
 'Developed_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Europe_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Japan_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'North_America_32_Portfolios_ME_BE-ME_OP_2x4x4',
 'Developed_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Europe_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Japan_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'North_America_32_Portfolios_ME_BE-ME_INV(TA)_2x4x4',
 'Developed_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Developed_ex_US_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Europe_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Japan_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Asia_Pacific_ex_Japan_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'North_America_32_Portfolios_ME_INV(TA)_OP_2x4x4',
 'Emerging_5_Factors',
 'Emerging_MOM_Factor',
 'Emerging_Markets_6_Portfolios_ME_BE-ME',
 'Emerging_Markets_6_Portfolios_ME_OP',
 'Emerging_Markets_6_Portfolios_ME_INV',
 'Emerging_Markets_6_Portfolios_ME_Prior_12_2',
 'Emerging_Markets_4_Portfolios_BE-ME_OP',
 'Emerging_Markets_4_Portfolios_OP_INV',
 'Emerging_Markets_4_Portfolios_BE-ME_INV']

In [35]:
ff = web.DataReader('5_Industry_Portfolios', 'famafrench')

In [36]:
print(ff['DESCR'])

5 Industry Portfolios
---------------------

This file was created by CMPT_IND_RETS using the 202112 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2021 Kenneth R. French

  0 : Average Value Weighted Returns -- Monthly (59 rows x 5 cols)
  1 : Average Equal Weighted Returns -- Monthly (59 rows x 5 cols)
  2 : Average Value Weighted Returns -- Annual (5 rows x 5 cols)
  3 : Average Equal Weighted Returns -- Annual (5 rows x 5 cols)
  4 : Number of Firms in Portfolios (59 rows x 5 cols)
  5 : Average Firm Size (59 rows x 5 cols)
  6 : Sum of BE / Sum of ME (5 rows x 5 cols)
  7 : Value-Weighted Average of BE/ME (5 rows x 5 cols)

In [37]:
ff_5ind = web.DataReader('5_Industry_Portfolios', 'famafrench')[1]

In [38]:
ff_5ind

         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2017-02  -0.19  -0.51   2.05   6.45   1.47
2017-03   0.80  -0.40   1.61   2.31  -0.47
2017-04   1.61  -0.70   2.28  -3.08   0.58
2017-05  -2.41  -2.53   1.46  -4.95  -2.59
2017-06   1.05   0.81   1.24  10.41   4.66
2017-07  -1.81   0.83   1.45  -2.72   0.28
2017-08  -3.70  -3.73  -0.84   1.39  -1.94
2017-09   6.35   8.62   5.73   8.30   7.12
2017-10  -2.02   0.71   1.75  -2.27   0.72
2017-11   6.53   3.06   1.87   2.54   3.69
2017-12   2.88   2.22   1.23   1.03  -0.18
2018-01   1.71   0.22   3.97   6.90   2.70
2018-02  -4.79  -6.43  -1.60  -3.51  -4.03
2018-03   0.63   1.76   0.18   0.22   1.36
2018-04   0.93   2.10   0.04  -0.17   0.92
2018-05   4.00   5.00   5.57   7.70   3.52
2018-06   3.99   2.00   1.34  -2.59   0.25
2018-07   0.16   1.61  -0.18  -1.47   1.17
2018-08   4.37  -0.83   7.41   5.86   1.64
2018-09  -2.08  -0.46  -1.95  -1.17  -2.34
2018-10  -8.30 -11.62 -10.17 -14.50  -8.29
2018-11  -1.23  -1.91   0.49  -0.45   0.70
2018-12 -12.92 -14.08 -10.16 -18.41 -11.23
2019-01  12.24  14.16  15.46  18.35  11.03
2019-02   4.28   4.21   6.37   6.55   4.87
2019-03  -3.47  -1.87  -0.66   2.98  -3.26
2019-04   2.41   2.73   4.32  -2.36   4.51
2019-05 -10.73 -11.06  -7.95  -8.25  -5.92
2019-06   6.43   6.78   4.92   4.40   5.63
2019-07  -0.16  -2.93   0.90  -5.15   1.23
2019-08  -3.93  -8.51  -5.46  -4.73  -4.40
2019-09   5.59   5.63   0.44  -3.45   3.43
2019-10  -0.02  -2.04   0.12  -0.42   1.85
2019-11   3.24  -0.22   4.70   8.71   2.66
2019-12   2.23   7.27   3.39   9.82   3.13
2020-01  -4.58  -6.26   1.23   4.66  -3.21
2020-02  -9.55 -11.22  -7.20  -0.79  -8.81
2020-03 -24.00 -27.26 -18.72 -17.46 -25.13
2020-04  21.26  26.98  20.31  21.68  12.13
2020-05   8.64   3.97   9.97  13.92   4.41
2020-06   8.35   6.47   8.61   4.81   5.56
2020-07   6.15   3.47   9.61   3.66   0.56
2020-08   9.79   3.39   4.02   1.41   5.59
2020-09  -1.96  -4.15  -2.97  -1.14  -3.47
2020-10   2.54   0.97   0.23  -2.71   4.03
2020-11  22.36  23.25  22.36  18.58  18.45
2020-12   6.13   9.22  11.49   9.74   9.02
2021-01  18.32  10.03   9.56  19.19   4.84
2021-02   7.50  12.64   7.42   6.45  11.52
2021-03   5.78   3.57   0.72  -5.09   6.40
2021-04   3.17   1.47   2.69  -2.12   2.58
2021-05   4.71   5.29   0.15  -3.30   2.62
2021-06   1.36   2.70   7.51   5.37  -1.48
2021-07  -3.51  -3.92  -2.73  -8.67  -2.23
2021-08  -0.40   0.79   1.71   4.65   3.04
2021-09  -4.67   1.14  -4.55  -5.36  -1.65
2021-10   2.58   5.11   4.11  -3.63   3.44
2021-11  -3.08  -4.29  -6.78 -10.69  -2.71
2021-12   1.95   2.72  -0.86  -5.48   1.52

`End of File`